html {
    box-sizing: content-box;
    
}

@media  (max-width: 600px) {
    body {
        box-sizing: content-box;
        background-color: lightblue;
    }

    h1, h2{
        text-align: center;
    }    
#grid-floats {
    display: inline-table;
    padding-bottom: 2px;
}

    #grid-floats .grid-item:first-child{
        float: left;
        width: 100%;
        height: 27em;
    }
    
    .grid-item:first-child p{
        width: fit-content;
        vertical-align: bottom;   
    }
    
     
    .grid-item img{
        width: 20em;
        vertical-align: top;
        max-width: 100%;
    }
    
    #grid-floats .grid-item {
        width: 50%;
        float: left;
        height: 27em;
    }
    
    .grid-item p{
        width: fit-content;
        vertical-align: bottom;
        
    }    
}

