html {
    box-sizing: border-box;
}

#grid-floats {
    margin: 4px;
    display: inline;
    background-color: green;

}

#grid-floats .grid-item:first-child{
    float: left;
    margin: 4px;
    width: 50%;
}

.grid-item h3{
    padding-top: auto;
    padding-inline-start: auto;
    clear: both;
}

 
.grid-item img{
    width: inherit;
    max-width: 100%;
}

#grid-floats .grid-item {
    margin: 4px;
    width: 25%;
    float: left;
}

.grid-item p{
    width: inherit;
    
}
