

h1, h2{
    text-align: center;
}    
#grid-flex {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;



}

#grid-flex .grid-item:first-child {
    flex-basis: 50%;

   }

#grid-flex .grid-item {
 flex-basis: 25%;

}

  
#grid-flex .grid-item img{
    max-width: 100%;

}


#grid-flex .grid-item p{
    vertical-align: bottom;
    
}    
