
body {
    font-family: 'Roboto', sans-serif;
}



tr {
    padding: 8px;
}
#googleIcon , #linkedinIcon, #githubIcon{
    height:100px;
}



.info {
    top: 8px;
    left: 16px;
}
.header {
    max-width: 1500px;
    height:500px;
}
.socialMedia {
    position: absolute;
    top: 8px;
    right: 16px;
    display: flex;
    flex-direction: column;
}
.mainDetails {
    /*margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    padding: 20px*/
    position: relative;
    background: #08B57B;
    color: white;
    font-family: monospace;
    height: 250px;
}


.generalInfo, .professionalSummary {
    margin: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
     0 2px 10px 0 rgba(0,0,0,0.12);   
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
     0 2px 10px 0 rgba(0,0,0,0.12);
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    max-width: 900px;

}

.experience{
    margin: auto;
    display: flex;
    flex-shrink: 2;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
     0 2px 10px 0 rgba(0,0,0,0.12);   
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
     0 2px 10px 0 rgba(0,0,0,0.12);
    font-family: 'Open Sans', sans-serif;
    max-width: 900px;

}


.h2StyleTop{
    color: #08B57B; 
    text-transform: uppercase;
    margin-top: 250px;
    margin-left: 40%;
    padding: 10px;
}


.h2Style{
    color: #08B57B; 
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 40%;
    padding: 10px;
}
/* .professionalSummary{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin: auto;
    width:600px;
    height: 300px;
    position: fixed;
    left:40%;
    padding:10px;

} */

.photoName{
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    display: inline-flex; 

}
#profilePhoto {
    height: 300px;
}

.info{
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.mainInfo {
    background-color: #E7E7E7;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Roboto', sans-serif;   
}




